.product-parent {
  display: flex;
}

.product-wrapper {
  margin: 45px;
}

.product-parent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.product-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  margin: 45px;
}

.product-images {
  width: 100%;
}

.product-description {
  text-align: center;
}
